<section class="post-section">
  <h2>Create New Post</h2>

  <form id="new-post-form" class="post-form">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" placeholder="Title of post"/>
  
      <label for="body_text">Content</label>
      <textarea id="body_text" name="body_text" placeholder="Content...."></textarea>
    <div class="form-btns">
      <button type="submit">Create</button>
    </div>
  </form>
</section>

{{#if posts.length}}
<section class="post-section">
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li  class="user-posts">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
