<div class="post-section">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form id="edit-post-form" class="post-form">
    
            <input name="post-title" type="text" value="{{post.title}}" />
        
    
            <textarea name="body_text" type="text">{{post.body_text}}</textarea>
        
    
        <div class="form-btns">
            <button type="submit"><i class="far fa-save"></i></button>
            <button type="button" class="delete-post-btn"><i class="far fa-trash-alt"></i></button>
        </div>
    </form>
</div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
