<section class="home-posts">
  <div>
    <ul class="post-list">
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
      </li>
      {{/each}}
    </ul>
  </div>

<div class="btn btn-dark btn-lg create-post-btn">
  <a href="/dashboard" >Create Post</a>
</div>

</section>