<div class="banner">
  <h1>Log In</h1>
</div>

<form class="login-form">

  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" />

    <label for="password-login">Password</label>
    <input type="password" id="password-login" />

    <button type="submit" class="btn-submit-form">Login</button>
  </div>

  <a href="/signup" class="btn-submit-form">Sign up instead</a>
</form>

<script src="/javascript/login.js"></script>