<div class="banner">
    <h1>Sign Up</h1>
</div>
<form class="signup-form">
    <div>
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" />

        <label for="password-signup">Password</label>
        <input type="password" id="password-signup" />

        <button type="submit" class="btn-submit-form">Signup</button>
    </div>

    <a href="/login">Login instead</a>

</form>

<script src="/javascript/signup.js"></script>