* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bright-green-color: #59e72e;
  --dark-green-color: #34a73e;
  --dark-grey-color: #333;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h2 {
  font-size: 3rem;
}

::marker {
  font-size: 2rem;
}

.body-text::placeholder {
  position: absolute;
  top: 2px;
}

a {
  text-decoration: none!important;
  color: var(--bright-green-color)!important;
  font-weight: bold!important;
  font-size: 1.2rem!important;
  transition: color 0.1s!important;
}

a:hover {
  color: var(--dark-green-color)!important; /*dark green*/
  text-decoration: none;
}

button {
  background-color: var(--bright-green-color);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #34a73e;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 200px;
}

.body-text {
  height: 8rem;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--dark-grey-color)!important;
}

.logo {
  font-size: 3vw;
  background-color: var(--bright-green-color)!important;
  color: var(--dark-grey-color)!important;
  padding: 15px 13px;
  border-radius: 15px;
  box-shadow: 7px 6px #197d0f;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 45px;
  font-size: 2rem;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex!important;
    justify-content: end!important;
}

.nav a {
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 4%;
  margin: auto;
}

.home-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main form {
  font-size: 1.8vw;
}

.btn-submit-form {
  margin-top: 20px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.create-post-btn {
  width: 20%;
  margin: auto;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post-content {
  text-align: left;
}

.post .title span {
  font-size: 1.8rem;
  color: #7d7d7d;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

li {
  list-style: none;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.post-section {
  margin: 4rem;
  width: 80%;
  text-align: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.post-form input {
  width: 100%;
  margin-bottom: 3rem;
}

.edit-post-form {
  margin-bottom: 5%;
}

.form-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.form-btns button {
  padding: 0 1.5rem;
  font-size: 2rem;
}

.user-posts {
  border: 1px solid var(--bright-green-color);
  margin-bottom: 2rem;
}

footer {
  border-top: 1px solid #ccc;
  background-color: var(--dark-grey-color);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

@media only screen and (max-width: 980px) {
  h2 {
    font-size: 2.5rem;
  }
  label {
    font-size: 1rem;
  }
  nav a {
    font-size: 1rem;
  }

  .btn-no-style {
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
    line-height: normal;
  }

  textarea {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 786px) {
  .post .title span {
    font-size: 1.4rem;
  }

  .meta {
    font-size: 0.8rem;
  }

  .post-content {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    display: flex;
    flex-direction: column;
  }
}

